<footer class="footer">
  <!-- Верхняя секция с призывом к действию -->
  <div class="footer-cta">
    <div class="cta-flex">
      <div class="cta-left">
        <h2 class="footer-cta-title">Готовы превратить сарафанное радио в измеримый канал привлечения клиентов?</h2>
      </div>
      <div class="cta-right">
        <p class="footer-cta-text">Мы проведем персональную презентацию для вашей команды и покажем, как ЧАРМИ может решить именно ваши бизнес-задачи.</p>
        <a href="https://calendar.app.google/fmPQoEZwdpqDEVgF8" target="_blank" class="footer-cta-button">
          Запросить демонстрацию
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.16699 10H15.8337" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.834 5L15.834 10L10.834 15" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>